@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

.hbz-widget-box{
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionnare-box{
  width: 100%;
  max-width: 1228px;
  height: 209px;
  position: relative;
  background-color: white;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
}

.content-wrapper{
  width: 100%;
  padding: 40px 30px 0 30px;
  box-sizing: border-box;
}
.process{
  width: 100%;
  height: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  background: #DEE1E7;
  border-radius: 5px;
}

.process-load{
  width: 114px;
  height: 10px;
  background: #FE724C;
  border-radius: 5px;
}


.start-button{
  width: 100%;
  height: 60px;
  background: #FE724C;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  outline: none;
  border: none;
  position: absolute;
  bottom: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}